body{
   background-image: url(http://elitefon.ru/images/201211/elitefon.ru_19541.jpg)
   
}
.container{
border:inset 3px white ;


 
}
.trabajos{
    border:outset 2px chocolate;
    width: 20%;
    height: 20%;
    display:inline-block;
    padding: 50px;
    border-radius: 10%;
    font-family: fantasy;
margin-bottom: 15px;
}
.trabajos h3 a:hover{ 
    background-color: chartreuse;
}
h1{
text-align: center;
font-family: cursive;
width: 100%;
    color:whitesmoke;
text-shadow: 4px 4px #aad;
 font-size: 5em;
}
h2{
text-align: center;
font-family: cursive;
width: 100%;
    color:whitesmoke;
text-shadow: 2px 2px #aad;
font-size: 3em;
}
p{
color: maroon;
}
a{
   border:inset 3px chocolate;
}

nav{
position:fixed;
    top:0;
    right:0;

}
nav ul{
list-style: none;
}

nav a{
background-color:orange;
color:olivedrab;
font-size: 40px;


}


