body{
   background-image: url(http://elitefon.ru/images/201211/elitefon.ru_19541.jpg);
   
}
.container{
border:inset 3px white ;
width: 90%;
margin: 0 auto;

 
}
.trabajos{
    border:solid 2px chocolate;
    display:inline-block;
    padding: 50px;
    border-radius: 5%;
    font-family: fantasy;
margin-bottom: 15px;
}
.trabajos h3 a:hover{ 
    background-color: chartreuse;
}
h1{
text-align: center;
font-family: cursive;
width: 100%;
    color:whitesmoke;
text-shadow: 4px 4px #aad;
 font-size: 4em;
}
h2,h3{
text-align: center;
font-family: cursive;
width: 100%;  color:whitesmoke;
text-shadow: 2px 2px #aad;
font-size: 1em;
}
p{
color:darkorange;
text-shadow: 1px 1px #eef;
    
}
a{
   border:inset 3px chocolate;
}

nav{
position:fixed;
    top:0;
    right:0;

}
nav ul{
list-style: none;
}

nav a{
background-color:orange;
color:olivedrab;
font-size: 40px;


}
@media (max-width :470px){
   h1{
 font-size: 2em;
   }
    .trabajos{
    border:solid chocolate;
    display:inline-block;
    padding: .5em;
    font-family: fantasy;
margin-bottom: 10px;
   }
  
}@media (max-width :770px){
   h1{
 font-size: 2em;
   }
    .trabajos{
    border:solid chocolate;
    display:inline-block;
    padding: .5em;
    font-family: fantasy;
margin-bottom: 10px;
   }




