body{
    background-image: url(https://s-media-cache-ak0.pinimg.com/736x/4a/62/b9/4a62b9e8209c47dc195ef3f81d038e54--food-patterns-organic-patterns.jpg);
   
}
.container{
border:solid 3px white;
}
.trabajos{
    border:solid 3px white;
    display:inline-block;

}